body {
    background-color: #EEEEEE;
}

hr {
    border-style: dotted none none;
    border-color: #87CBB9;
    border-width: 5px;
    width: 50%;
    
    
}

h1 {
    color: #87CBB9;
    font-style: italic;

}

h3 {
    color: rgb(43, 170, 170);


}

th {
color: rgb(43, 170, 170);

}